#img-bg{
    background-image: url("https://a-static.mlcdn.com.br/618x463/mesa-l-diretor-escritorio-170x160-marrom-preta-c-tampo-outlet-das-fabricas/outletdasfabricas/sati1716-1015/25c30e80a2d2c24542cc1cc8222521f0.jpg");
    
    min-height: 695px;
    
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    }